.contact-image {
	width: 40px;
	height: 40px;
}

#aboutMenu > a {
	background-color: #337ab7;
	width: auto;
	border-radius: 4px;
}
a.menu {
	color: white;
	text-decoration: none;
}

.img-preview {
	height: 230px;
	width: 440px;
}

.title-preview {
	color: black;
}

a.menu:hover {
	font-size: 4em;
}

li {
	list-style: none;
}

body {
	background: #000;
	overflow-y: scroll;
}


.menu {
	font-size: 1.8em;
}

#verticalHeader {
	position: fixed;
	z-index: 1;
	font-size: 2em;
}

#aboutContent {
	color: white;
	text-align: center;
	font-size: 2em;
	margin-top: 10%;
}

#work {
	visibility: hidden;
}

#contact {
	font-size: 2em;
}

footer {
	font-size: 0.8em;
}
